<!DOCTYPE html> 
<html lang="en">
<!-- <head>  -->
    <!-- JavaScript Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head> -->
{% extends "base.html" %}
{% block content %}
<form action="/addbookindb" method = "POST">
    Book Name = <input type="text" name="book_name">
    Author = <input type="text" name="author">
    Year pub = <input type="text" name="year_pub">
    Genre = <input type="text" name="genre">
    <input type="submit">
</form>
{% endblock %}
